body    {
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    background-color: #1F2937;
    height: 100px;
    padding-left: 100px;
    justify-content: space-between;
}

img.flag    {
    display: flex;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    margin-top: 25px;
}

.linksheader {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 100px;
}

a.lheader {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 10px;

}

.top {

    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
}

.hone   {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding-top: 100px;
}

.pone {
    display: flex;
    width: 400px;
    font-size: 18x;
    color: #e5e7eb;
    margin-bottom: 15px;

}


.buttontop  {
    background-color: #3882f6;
    border-radius: 15%;
    color: white;
    border-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

img.topimg  {
    display: flex;
    width: 500px;
    margin-bottom: 100px;
    border-radius: 15%;

}

.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.maintittle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 50px;


}

img.mainone {
    display: flex;
    width: 250px;
    height: 200px;
    border: 5px;
    border-radius: 15%;
    border-style:ridge;
    border-color: #3882f6;
    justify-content: center;
    margin-bottom: 15px;
}
img.maintwo {
    display: flex;
    width: 250px;
    height: 200px;
    border: 5px;
    border-radius: 15%;
    border-style:ridge;
    border-color: #3882f6;
    justify-content: center;
    max-width: 250px;
    margin-bottom: 15px;
}
img.mainthree {
    display: flex;
    width: 250px;
    height: 200px;
    border: 5px;
    border-radius: 15%;
    border-style:ridge;
    border-color: #3882f6;
    justify-content: center;
    margin-bottom: 15px;
}
img.mainfour {
    display: flex;
    width: 250px;
    height: 200px;
    border: 5px;
    border-radius: 15%;
    border-style:ridge;
    border-color: #3882f6;
    margin-bottom: 15px;
}

.imgmain    {
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    justify-items: center;
    text-align: center;
    margin-bottom: 200px;
}

.comment {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color: #e5e7eb;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.commentname    {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.signup {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card {
    display: flex;
    width: 80%;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    justify-content: center;
    border-radius: 2%;
    
}

.buttonback {
    width:100px;
    height: 25px;
    border: 2px;
    border-style:groove;
    border-color: white;
    background-color: #3882f6;
    border-radius: 15%;
    color: white;
    font-weight: bold;
}

.signuptittle {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
}
.signuptext {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}
.buttonb {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
